//- 基本页面，所有的页面都按此结构渲染，公用部分相同，可变部分各页面自己控制

html
    head
        +h.mobile_metas()
        block title
            title= post.title or site.title
        +h.headers
        
        +h.load('//qiniu.cdswyda.com/source/lib/zui/css/zui.min.css')
		//- +h.load('/template/css/style.scss')
		//- +h.load('/template/css/nav.scss')
		//- +h.load('/template/css/post.css')	
		//- 上面文件合并并编译的css
		+h.load('/template/css/mythemes.css')		

		block head


    body
        main#body_wrapper
            block header
				header_class = "header header_for_index" if request.path == '/' else "header"
				div(class=header_class)
					.header_nav
						.left_side
							+font(site.configs.cn_font1 or 'noto-3')
								.site_title: a(href='/')= site.title
						.right_side
							+site.just_nav
							.search
								input(id="search-input", type="text", data-role="none")
								a.icon-icon_search(href="javascript:;",id="search-icon")
				if request.path == '/'
					+scroll(jump=True, color="rgba(255, 255, 255, 0.54)", hover_color="rgba(255, 255, 255, 1)")
						.index_header
							.index_header_container
								if site.configs.sub_title
									+font(site.configs.cn_font2 or 'noto-3')
										.sub_title= site.configs.sub_title
								.socials= site.socials

            #main.container-fluid
                block content


			.footer
				+site.footer
				p
					a(href="https://github.com/cdswyda/cola-themes", target="_blank") theme
					span &nbsp;by cdswyda - powered by
					a(href="https://bitcron.com/", target="_blank") Bitcron

        //- +h.load("jquery")
        +h.load("//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
        +h.load("/template/js/base.js")

		+h.back_to_top
