extends base.jade

this_tag = request.get_offset_path(1)
if this_tag == ''
	this_title = site.title
else
	this_title = this_tag 


block title
	title= this_title

block head
    //- +h.load('markdown')

block content    
    //- span= request.get_offset_path(1)
    //- span= request.path
	//- span= this_title
    if this_tag == ''
        ul: for tag_name, tag_count in site.tags
            li
                a(href="/tag/{{tag_name}}")
                    span= tag_name
                    span= tag_count        
    else
		h2= this_tag
			this_posts = d.get_data(tags=this_tag)
			
			span= this_posts.length
			span= this_posts.length()
			
		ul: for post in this_posts
			li: a(href="{{post.url}}")
                h2= post.title
				span= post.date('%Y-%m-%d')
                //- span= post.url
        hr
		span= '共 ' + this_posts.length + ' 篇'
		//- span= posts.length()
