extends base.jade

this_tag = request.get_offset_path(1)
if this_tag == ''
	this_title = site.title
else
	this_title = this_tag 


block title
	title= this_title

block head
    //- +h.load('markdown')

block content    
    //- span= request.get_offset_path(1)
    //- span= request.path
	//- span= this_title
    if this_tag == ''
        ul.tags-list: for tag_name, tag_count in site.tags
            li.tags-item
                a(class="tags-link",href="/tag/{{tag_name}}")
                    span= tag_name
                    span= tag_count
		span.tags-total= '共' + site.tags.length + '个标签'
    else
		h2= this_tag
			this_posts = d.get_data(tags=this_tag)

		ul.tag-list: for post in this_posts
			li.tag-item: a(href="{{post.url}}")
                h2.tag-post-title= post.title
				span.tag-post-date= post.date('%Y-%m-%d')
                //- span= post.url
        hr
		span.tag-post-total= '共 ' + this_posts.length + ' 篇'